.submit-button-animated {
    --primary-color: #64FFDA;
    --bg-color: #000;
    
    background-image: linear-gradient(
      90deg,
      var(--primary-color) 0%,
      var(--primary-color) 50%,
      transparent 50%,
      transparent 100%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;
}

.submit-button-animated:hover {
    background-position: 0 0;
    color: var(--bg-color);
}