@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: var(--font-geist-sans);
}

@import "./components/lightswind.css";



@font-face {
  font-family: "Geist Sans";
  src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Sans";
  src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist Sans";
  src: url("../node_modules/@vercel/fonts/geist-sans/GeistSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


* {
  font-family: "Geist Sans", sans-serif !important;
}

body.loading-active {
  overflow: hidden;
}

/* src/index.css or src/app.css */
#particle-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

body {
    position: relative;
    /* otras propiedades del body */
}

.cv-section {
  scroll-margin-top: 155px; /* O la altura exacta de tu header */
}

@media (max-width: 768px) {
  .typing-container-mobile-fix span:last-child::after {
    display: none !important;
  }
}